<ul>
  <li>
    nuit du jeudi : <%= presence.nuit_jeudi %>

  </li>
  <li>
    nuit du vendredi : <%= presence.nuit_vendredi %>

  </li>
  <li>
    nuit du samedi : <%= presence.nuit_samedi %>

  </li>
</ul>