<div class="container">

  <h2>MA TEAM</h2>
  <div class="cards" id="invites">
    <% @invites.each do |inv| %>
    <% if inv.presence %>
    <%= render 'presences/show', presence: inv.presence, user: inv.user, invite: inv%>
    <% end %>
    <% end %>
  </div>
  <a class="btn btn-outline-dark mb-3 updatefullpresence">Update All <span class="sr-only">(current)</span></a>



  <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
    <%= link_to 'home', root_path(), class: "btn btn btn-ghost"%>
  </div>

</div>