<div class="container">

  <h2>MA TEAM</h2>
  <div class="cards" id="invites">
    <% @invites.each do |inv| %>
    <% if inv.presence %>
    <%= render 'presences/show', presence: inv.presence, user: inv.user, invite: inv%>
    <% end %>
    <% end %>
  </div>

</div>