// Specific CSS for your home-page
.card-home-img-bottom {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  padding: 150px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-home {
  border: 0;
  .card-home-text-bloc {
    margin: auto;
    padding: 5% 10% 5% 10%;
    text-align: center;
    h1 {
      font-weight: bold;
      margin-bottom: 50px;
    }
    hr {
      font-weight: bold;
    }
  }
}

.place {
  background-color: $gold;
  h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .content {
    width: 100%;
  }
}

.celebrate {
  width: 100%;
  margin: auto;
}

.inlinebloc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  .ligne_verticale {
    width: 10px;
    border-left: 1px solid $gray;
    height: 100px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .inlinebloc {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .inlinebloc {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .inlinebloc {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .inlinebloc {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .inlinebloc {
    grid-template-columns: 1fr 1fr;
  }
}
