    <div class="banner2">
      <div class="container">
        <h1>Camille & Charles</h1>
        <% if user_signed_in? %>
          <h3>23.05.2020</h3>
          <h2>
            <i class="far fa-clock"></i>
            J - <%= (Date.parse("23/05/2020") - Date.today).to_i %>
          </h2>
          <br>
          <h2>
            <%= render 'shared/button_home' %>
          <% else %>
            <%= link_to "Connexion", new_user_session_path, class: "btn btn-outline-secondary btn-lg" %>
          <% end %>
        </h2>
      </div>
    </div>
