    <div class="banner" id="home">
      <div class="bloc">
        <% if user_signed_in? %>
          <h2>
            J - <%= (Date.parse("23/05/2020") - Date.today).to_i %>
          </h2>
        <% end %>
      </div>
    </div>
          <%= render 'shared/navbar' %>

