<div class="banner" id="home">
  <%= render 'shared/navbar' %>
  <div class="bloc">
    <h1> <strong>Camille</strong> & <strong>Charles</strong></h1>
    <h3>le 23 mai 2020</h3>
    <% if user_signed_in? %>
    <%= link_to 'Je viens !', new_user_presence_path(current_user), :class => "btn btn-outline-dark btn-perso" %>
  <% end %>

  </div>
</div>