    <div class="banner2">
      <div class="container">
        <h1>Camille & Charles</h1>
        <% if user_signed_in? %>
        <h2>On décale (encore et encore) la date de notre mariage
        Rendez-vous en 2023 car en 2021 nous, c'est <%= link_to 'voyage',voyage_path %> </h2>
          <%# 
          <h3>08.05.2021</h3>
          <h2>
            <i class="far fa-clock"></i>
            Mise à jour de la date...
            J - <%= (Date.parse("08/05/2021") - Date.today).to_i %>
          </h2>
          <br>
          <h2>
            <%= render 'shared/button_home' %>
          <% else %>
            <%= link_to "Connexion", new_user_session_path, class: "btn btn-secondary btn-lg" %>
          <% end %>
        </h2>
      </div>
    </div>
