<div class="banner" id="home">
  <%= render 'shared/navbar' %>
  <div class="bloc">
    <h1> <strong>Camille</strong> & <strong>Charles</strong></h1>
    <h3>le 23 mai 2020</h3>
    <% if user_signed_in? %>
  <%= render 'shared/button_coming' %>
  <% end %>

  </div>
</div>