    <div class="row">
      <div class="col-12 align-self-center">
        <% if current_page?(root_path) %>
        <%= link_to 'Je viens !', user_invites_path(current_user), :class => "btn btn-outline-secondary btn-lg" %>
      <% else %>
        <%= link_to 'Accueil', root_path(), :class => "btn btn-outline-secondary btn-lg" %>
      </div>
    <% end %>
  </div>
