    <div class="row justify-content-center">
      <div class="col-6 align-self-center">
        <% if current_page?(root_path) %>
        <%= link_to 'Je viens !', user_invites_path(current_user, anchor: "invites"), :class => "btn btn-secondary btn-block" %>
      <% else %>
        <%= link_to 'Accueil', root_path(), :class => "btn btn-secondary btn-lg" %>
      </div>
    <% end %>
  </div>
