
<div class="card-home" id="contact">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <h2 class="card-home-title">Cherchez votre chanson</h2>
      <div class="content">
        <p class="card-home-text">
</p>
      </div>
      <%= render  "form_manual" %>
    </div>
  </div>
</div>