<% if user_signed_in? %>
  <div class="card-home" id="histoire">

    <div class="card-home-body">
      <div class="card-home-text-bloc">
        <h1 class="card-home-title">Histoire</h1>
        <p class="card-home-text">
          <h2>WE ARE GETTING MARRIED :)</h2>
          I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click
          me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your
          users know a little more about you.
          <br>
          <hr>
        </p>
        <p class="card-home-text"><small class="text-muted"></small>
        </p>
      </div>
    </div>

    <%= render 'shared/carousel' %>

    <div class="card-home place" id="lemariage">
      <div class="card-home-body">
        <div class="card-home-text-bloc">
          <h1 class="card-home-title">Le mariage</h1>
          <div class="inlinebloc">
            <div class="content">
              <p class="card-home-text">
                <h3>Quand ?</h3>
                le 23 mai 2020
              </p>
            </div>
            <div class="content">
              <p class="card-home-text">
                <h3>Lieu</h3>
                Doucemont
                Zwartemolenstraat 41, 8951 Heuvelland, Belgique
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>