<% if user_signed_in? %>
  <div class="card-home" id="histoire">

    <div class="card-home-body">
      <div class="card-home-text-bloc">
        <h2 class="card-home-title">RECETTE DE NOTRE FAMILLE</h2>
        <p class="card-home-text">
Réunir 15 ans de Cams & Charles<br>
Incorporer de la joie et de la bonne humeur<br>
Se débarrasser des petits problèmes<br>
Laisser reposer 11 ans<br>
Ajouter un petit Basilou bien épicé<br>
Mélanger le rire et l’amour pendant 3 ans<br>
Assaisonner avec un zeste de patience<br>
Ajouter beaucoup de désordre pour créer des souvenirs<br>
et un petit Gaspard pour doubler le bonheur.<br>
Saupoudrer de bisous et de câlins<br>
Déguster avec  pleins d’amis<br>
Se régaler des bons moments avec la famille<br>
Et se dire OUI en très bonne compagnie !<br>
          <br>
          <hr>
        </p>
        <p class="card-home-text"><small class="text-muted"></small>
        </p>
      </div>
    </div>

    <%= render 'shared/carousel' %>

    <div class="card-home place" id="lemariage">
      <div class="card-home-body">
        <div class="card-home-text-bloc">
          <h1 class="card-home-title">Le mariage</h1>
          <div class="inlinebloc">
            <div class="content">
              <p class="card-home-text">
                <h3>Quand ?</h3>
                le 23 mai 2020
              </p>
            </div>
            <div class="content">
              <p class="card-home-text">
                <h3>Lieu</h3>
                Doucemont
                Zwartemolenstraat 41, 8951 Heuvelland, Belgique
              </p>
            </div>
          </div>
                      <%= render 'shared/map'%>

        </div>
      </div>
    </div>
    <% end %>
  </div>