<% if user_signed_in? %>

<div class="card-home" id="histoire">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <h1 class="card-home-title">Recette de notre famille</h1>
      <div class="content">
        <p class="card-home-text">
          Réunir 15 ans de Cams & Charles<br>
          Incorporer de la joie et de la bonne humeur<br>
          Se débarrasser des petits problèmes<br>
          Laisser reposer 11 ans<br>
          Ajouter un petit Basilou bien épicé<br>
          Mélanger le rire et l’amour pendant 3 ans<br>
          Assaisonner avec un zeste de patience<br>
          Ajouter beaucoup de désordre pour créer des souvenirs<br>
          et un petit Gaspard pour doubler le bonheur.<br>
          Saupoudrer de bisous et de câlins<br>
          Déguster avec pleins d’amis<br>
          Se régaler des bons moments avec la famille<br>
          Et se dire OUI en très bonne compagnie !<br>
          <br>
        </p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/carousel' %>

<div class="card-home" id="lemariage">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <h1 class="card-home-title">Le Programme</h1>
      <div class="content">
        <a
          href="https://res.cloudinary.com/dsp2exmo1/image/upload/q_auto:good/v1570197047/mariage/home/programme_mariage_ok_iiec6f.jpg"><img
            class="img-fluid"
            src="https://res.cloudinary.com/dsp2exmo1/image/upload/q_auto:good/h_600/v1570197047/mariage/home/programme_mariage_ok_iiec6f.jpg"
            alt="First slide">
        </a>
      </div>
    </div>

  </div>
</div>

<img
  src="https://res.cloudinary.com/dsp2exmo1/image/upload/q_auto:good/c_fill,h_600,w_1300/v1568294154/mariage/home/vmk31ouoelxhrizooaqy.jpg"
  class="img-fluid" alt="Responsive image">
  

<div class="card-home" id="place">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <h1 class="card-home-title">Le lieu</h1>
      <div class="content">
        <p class="card-home-text">
          Un vieux hangar joliment rénové au milieu des champs de la campagne flamande, tout près de la frontière
          française.​<br><br>
          En plus d'être joli, le domaine de Doucemont et son super hangar ont l'avantage de pouvoir loger plus de
          40 personnes dans de vrais lits. On vous propose donc de dormir (gratuitement) dans le dortoir.
          <br><b>Alors si vous n'avez pas peur de passer une nuit en communauté : </b>faites le nous savoir dans la
          rubrique <b>"Je viens"</b> en sélectionnant <b>"Je dors Samedi"</b>.​<br><br>
          <b>Pour les plus frileux,</b> il y a différents hôtels à proximité.​<br><br> Pour les plus aventuriers,
          sachez que le domaine est entouré de champs dont l'un est spécialement réservé pour que chacun se sente
          libre de planter sa tente.
        </p>
      </div>
      <div class="content">
        <%= render 'shared/map'%>
      </div>
    </div>
  </div>
</div>

<div class="card-home" id="dress">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <h1 class="card-home-title">Dress Code</h1>
      <div class="content">

        <img
  src="https://res.cloudinary.com/dsp2exmo1/image/upload/q_auto:good/w_500/v1568294154/mariage/home/rpkxzs0vgciqkiwppzva.png"
  class="img-fluid" alt="Responsive image">
      </div>
    </div>

  </div>
</div>

<div class="card-home" id="dress">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <h1 class="card-home-title">Nous faire plaisir</h1>
      <div class="content">
        <p class="card-home-text">
          Nous avons décidé de <b>ne pas faire de liste de mariage</b>... Pourquoi ? <b>Parce qu'on a besoin de rien !</b> En plus, il parait qu'on peut vivre d'amour et d'eau fraîche ! La seule chose qu'on aime faire, ce sont des <b>voyages, des aventures</b>, alors pour nous faire plaisir, il n'y aura rien de mieux.

        </p>
        <img
  src="https://res.cloudinary.com/dsp2exmo1/image/upload/q_auto:good/h_600/v1568294154/mariage/home/ehm6zhyjbmrbx7lyis1z.png"
  class="img-fluid" alt="Responsive image">
      </div>
    </div>

  </div>
</div>



<% end %>