<% if user_signed_in? %>

<div class="card-home" id="programme">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <h1 class="card-home-title">Le Programme</h1>
      <div class="content">
       <p class="card-home-text">
          Pas de chichis, c'est à la cool ce mariage !
        </p>
        <a
          href="https://res.cloudinary.com/dsp2exmo1/image/upload/q_auto:good/v1570197047/mariage/home/programme_mariage_ok_iiec6f.jpg"><img
            class="img-fluid"
            src="https://res.cloudinary.com/dsp2exmo1/image/upload/q_auto:good/h_600/v1570197047/mariage/home/programme_mariage_ok_iiec6f.jpg"
            alt="First slide">
        </a>
      </div>
    </div>

  </div>
</div>

<% end %>