<div class="card-home" id="contact">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <h1 class="card-home-title">Contact</h1>
      <div class="content">
        <p class="card-home-text">
Une question, une interrogation, une demande, n'hésitez pas à nosu en faire part.
        </p>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>