<div class="container">
  <div class="container-form">
    <div class="row justify-content-md-center">
      <div class="col-12 col-sm-6 col-md-8 text-center">
        Votre message a bien été envoyé
        <br>
        Merci
      </div>
    </div>
  </div>
</div>