<div class="card-home" id="contact">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <div class="content">
        <p class="card-home-text">
        Votre message a bien été envoyé
        <br>
        Merci
        </p>
  </div>
</div>