      
    <div class="container" id="photos">
      <h2>MES PHOTOS</h2>

          
    <div class="container">
      <div class="container-form">
        <div class="row justify-content-md-center">
          <button id="upload_widget" class="btn btn-primary" data-user = <%= @user.email %>>Upload files</button>
          <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
          <script type="text/javascript"></script>
        </div>
      </div>
    </div>
      <ul>
        <% @photos.each do |photo| %>
        <%= cl_image_tag(photo["public_id"], :transformation=>[
  {:height=>200, :crop=>"scale"}
  ]) %>
        <% end %>
        </ul>
      </div>

      

