<div class="card-home" id="photos">
  <div class="card-home-body">
    <div class="card-home-text-bloc">
      <h1 class="card-home-title">Photos</h1>
      <div class="row justify-content-md-center">
        <button id="upload_widget" class="btn btn-primary" data-user=<%= @user.email %>>Importer des
          photos</button>
        <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
        <script type="text/javascript"></script>
      </div>
    </div>
    <ul>
      <% if @photos %>
      <% @photos.each do |photo| %>
      <%= cl_image_tag(photo["public_id"], :transformation=>[
    {:height=>200, :crop=>"scale"}
    ]) %>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>