.banner2 {
  background-size: cover;
  background-position: center;
  padding: 150px 0 100px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("https://res.cloudinary.com/dsp2exmo1/image/upload/c_fill,h_600,w_1300/v1568294157/mariage/cr_uh42sy.jpg");
  .container {
    text-align: center;
  }
  h1 {
    margin: 10px;
    color: whitesmoke;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 54px;
    font-weight: bold;
  }
  h3 {
    font-size: 32px;
    color: $gold;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
}
