.btn-ghost {
  opacity: 1;
  background-color:whitesmoke;
  border: 1px solid whitesmoke;
  padding: 8px 24px;
  width: 50%;
  margin-top: 100px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  background-color:whitesmoke;
  opacity: 0.2;
  transition: 0.5s;
}
