#mapping{
    height: 400px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .voyage_banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("https://planificateur.a-contresens.net//inspiration/1366px/id.jpg");
  }