.navbar {
  justify-content: center;
  background: transparent;
  width: 100%;
  align-content: center;
  font-family: montserrat;
}

.navbar-expand-lg {
  flex-direction: row;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-expand-lg .navbar-collapse{
  justify-content: center;
}
