.navbar {
  justify-content: center;
  background: transparent;
  position: absolute;
  bottom: 80px;
  width: 100%;
  align-content: center;
  font-family: montserrat;
}

.navbar-expand-lg {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
